@import "../config";

.btn {
  display: inline-block;
  background: $default;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  color: $primary;
  font-weight: weight(bold);
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  font-size: $font-size-d;
  padding: $padding-d;

  @include tablet {
    font-size: $font-size-t;
    padding: $padding-t;
  }

  @include mobile {
    font-size: $font-size-m;
    padding: $padding-m;
  }

  & svg {
    width: $icon-size-d;
    height: $icon-size-d;
    display: inline-block;
    fill: #fff;
    margin-left: 5px;
    vertical-align: middle;

    @include tablet {
      width: $icon-size-t;
      height: $icon-size-t;
    }

    @include mobile {
      width: $icon-size-m;
      height: $icon-size-m;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  &__primary {
    color: $default;
    background: $primary;
  }

  &__warning {
    color: $default;
    background: $warning;
  }
}
