@import "../config";
@import "./button";

.dropdown {
  background: $default;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  color: $text-color;
  position: relative;

  & svg {
    width: $icon-size-d;
    height: $icon-size-d;
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
    vertical-align: text-bottom;
    position: absolute;
    top: 15px;
    right: 0;

    @include tablet {
      top: 10px;
      width: $icon-size-t;
      height: $icon-size-t;
      margin-right: 10px;
    }

    @include mobile {
      top: $padding-m;
      width: $icon-size-m;
      height: $icon-size-m;
      margin-right: $padding-m;
    }
  }

  &__custom-select {
    border: none;
    appearance: none;
    background: transparent;
    padding: $padding-d;
    padding-right: 45px;
    font-size: $font-size-d;
    font-family: "Quicksand", sans-serif;

    @include tablet {
      padding: $padding-t;
      padding-right: 30px;
      font-size: $font-size-t;
    }

    @include mobile {
      padding: $padding-m;
      padding-right: 15px;
      width: 100%;
      font-size: $font-size-m;
    }
  }
  @include mobile {
    width: 65%;
  }
}
