@import "../config";

.controls__pills {
  list-style: none;
  display: flex;

  &__item {
    border: 1px solid $border-color;
    background: $default;
    padding: $padding-d;
    box-shadow: $box-shadow;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }
    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &.active {
      background: $light;
    }

    & svg {
      width: $icon-size-d;
      height: $icon-size-d;
      display: block;

      @include tablet {
        width: $icon-size-t;
        height: $icon-size-t;
      }

      @include mobile {
        width: $icon-size-m;
        height: $icon-size-m;
      }
    }

    @include tablet {
      padding: $padding-t;
    }

    @include mobile {
      padding: $padding-m;
    }
  }
  @include mobile {
    width: 30%;
    margin-right: 5%;
  }
}
