@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

$primary: #34a3d7;
$text-color: #333333;
$default: #ffffff;
$warning: #c32351;
$light: #f2f5f7;

$box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);

$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);

$mobile: 544px;
$tablet: 786px;
$desktop: 1280px;
