@import "./style/config";
@import "./style/reset";
@import "./style/components/table";
@import "./style/components/pilltabs";
@import "./style/components/dropdown";
@import "./style/components/button";
@import "./style/components/pupil";

.App {
  background: $light;
  min-height: 100vh;
}
body {
  color: $text-color;
  font-family: "Quicksand", sans-serif;
  font-size: $font-size-d;
  font-weight: weight(medium);

  @include tablet {
    font-size: $font-size-t;
  }

  @include mobile {
    font-size: $font-size-m;
  }
}

.navbar {
  background: $primary;
  height: 160px;
  width: 100%;
  color: $default;
  font-weight: weight(bold);

  @include mobile {
    height: 120px;
  }

  &__breadcrumb {
    text-align: center;
    padding-top: 1.5rem;

    &__item {
      display: inline;
      text-decoration: none;

      a {
        color: $default;
        text-decoration: none;
      }
    }
  }
  &__title {
    text-align: center;
    font-size: 2.5rem;

    & svg {
      width: 50px;
      height: 50px;
      display: inline-block;
      fill: #fff;
      margin-right: 10px;
      vertical-align: bottom;
    }
    @include mobile {
      font-size: 1.5rem;

      & svg {
        width: 30px;
        height: 30px;
        margin-right: 2px;
      }
    }
  }
}

.container {
  background: $default;
  width: 90%;
  display: flex;
  margin: 0 auto;
  border-radius: 0.5em;
  margin-top: -40px;
  padding: 30px;
  box-shadow: $box-shadow;

  @include mobile {
    width: 95%;
    margin-top: -30px;
  }
}

.main {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;

  &__group {
    display: flex;
    justify-content: space-between;
    @include mobile {
      &:last-child {
        flex-direction: column;
        padding-top: $padding-m;
      }
    }
  }
  @include mobile {
    flex-direction: column;
  }
}

.spacer {
  margin-left: 10px;
  @include mobile {
    margin-left: 0;
  }
}
