@import "./style/config";
@import "./style/reset";
@import "./style/components/table";
@import "./style/components/pilltabs";
@import "./style/components/dropdown";
@import "./style/components/button";
@import "./style/components/pupil";

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

.App {
  background: $light;
  min-height: 100vh;
}
body {
  color: $text-color;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: weight(medium);

  h1 {
    font-size: 2.5rem;
  }
}

.navbar {
  background: $primary;
  height: 160px;
  width: 100%;
  color: $default;
  font-weight: weight(bold);

  &__menu {
    text-align: center;
    padding-top: 1rem;

    &__item {
      display: inline;
      text-decoration: none;
      color: $default;
    }
  }
  &__title {
    text-align: center;

    &__icon {
      width: 50px;
      height: 50px;
      display: inline-block;

      path {
        fill: #fff;
      }
    }
  }
}
.container {
  background: $default;
  width: 90%;
  height: 600px;
  display: flex;
  margin: 0 auto;
  border-radius: 0.5em;
  margin-top: -40px;
}
